@using WebTourist.Models;
@model IEnumerable<ContainerRouteAttractions>

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>ourist</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="~/Images/favicon.ico" />
    @Scripts.Render("~/bundles/myscripts")
    @Scripts.Render("~/bundles/markerCluster")
    @Styles.Render("~/Content/Site.css")
    @Scripts.Render("~/scripts/jquery-3.3.1.js")
    @Scripts.Render("~/scripts/jquery.unobtrusive-ajax.js")

</head>
<body onload="loadPage()">
    <div id="map"></div>

    <div class="butPossition">
        <input  type="button" onclick="eventButtomClick()" class="button" value="Next Route">
        <div class="distanceDuration">
            <div>Distance: <span id="distance">  </span> </div>
            <div>Duration: <span id="duration">  </span> </div>
        </div>  
    </div>

    <script>
        function loadPage()
        {
                @foreach (var item in Model)
                {
                    @:DrawExcursionRoutes(stringToArrayLatLng('@item.CoordinatesRoute'));
                    foreach (var it in item.Attractions)
                    {
                       @:AddMarkerToArrayForClusterMarker(StringToLatLng('@it.Coordinate'), '@it.Name','@it.Description', map);
                    }
                }
        }

    </script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBjUfDf5v52pKGCIKhBqlSW9IQZV3lcRJw &callback=initMap "
            async defer>
    </script>
   
</body>
</html>




